@import url('https://fonts.googleapis.com/css2?family=Spline+Sans&display=swap');
.active{
    color: white;
    font-family: ubuntu;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: 'Spline Sans', sans-serif;
}
.active:active{
    color: yellow;
    /* color:primary; */
}

.heading{
    font-family: 'Spline Sans', sans-serif;
    letter-spacing: 2px;
}